.list {
    width: 70%;
    margin: auto;
    
}
.list h3 {
    text-align: center;
}

.word-list {
    height: 50vh;
    overflow: scroll;
}

.list li {
    list-style: none;
}

.total {
    margin: 3px 3px 10px 3px ;
    text-align: center;
    color: #3E363F
}